---

---
<!DOCTYPE html>
<html>
{% include head.html %}

{% include headerPage.html %}
<div id="content">
  <div id="blog">
    <div class="container">
      <div class="row">
        <div class="col-md-10 col-md-offset-1">
          <h2>Articles</h2>
          <div class="row">
            <div class="col-md-7">
              {% for post in site.posts limit:3 %}
              <article>
                <div class="col-md-1">
                  <div class="categorie">
                    {{post.category}}
                  </div>
                </div>
                <div class="col-md-11">
                  <h3><a class="post-link" href="{{ post.url | prepend: site.baseurl }}">{{post.title}}</a></h3>
                  <p> {{post.description}}</p>
                  <p class="date"> {{ post.date | date: "%-d %B" }}</p>
                </div>
              </article>
              {% endfor %}
            </div>
            <div class="col-md-4 col-md-offset-1">
              <img src="src/img/illustration_blog.png">
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div id="events">
    <div class="container">
      <div class="row">
        <div class="col-md-10 col-md-offset-1">
          <h2>Events</h2>
          <div class="content col-md-8 col-md-offset-2">
            <h3 class="title"> Les joies de l'SVG</h3>
            <h4 class="date"> Mardi 7 juillet 2014 </h4>
            <button class="btn btn-event">
              Participer
            </button>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div id="lille">
    <div class="container">
      <div class="row">
        <div class="col-md-5 col-md-offset-2">
          <h2> Lille </h2>
          <h3> Lille est connue pour sa convivialité et sa joie de vivre. Au-delà de ça, Lille est également une ville pour l'informatique et surtout pour le web !</h3>
          <button class="btn">
            Découvrir Lille
          </button>
        </div>
      </div>
    </div>
  </div>
  <div id="team">
    <div class="container">
      <div class="row">
        <div class="col-md-10 col-md-offset-1">
          <h2>Team</h2>
          <div class="row">
            <div class="col-md-5 col-md-offset-1">
              {% assign team = site.data.members['john'] %}
              <div class="row">
                <img src="{{team.image}}" class="col-md-6 img-circle">
                <div class="caption col-md-6">
                  <h3>{{team.name}}</h3>
                  <h4>{{team.poste}}</h4>
                  <h4> <a href="http://{{team.site}}"> {{team.site}} </a>  </h4>
                </div>
              </div>
              <div class="row">
                  <p> {{team.description}}</p>
              </div>
            </div>
            <div class="col-md-5 col-md-offset-1">
              {% assign team = site.data.members['dck'] %}
              <div class="row">
                <img src="{{team.image}}" class="col-md-6 img-circle">
                <div class="caption col-md-6">
                  <h3>{{team.name}}</h3>
                  <h4>{{team.poste}}</h4>
                  <h4> <a href="http://{{team.site}}"> {{team.site}} </a>  </h4>
                </div>
              </div>
              <div class="row">
                  <p> {{team.description}}</p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

{% include footerPage.html %}

</body>
</html>
