<div id="contact">
  <div class="overlay"></div>
  <div class="contactContent col-md-4 col-md-offset-4">
    <h3> Contact </h3>
    <p>
      N'hésitez pas si vous avez une questions, une idée ou tout à autres choses à nous dire ! Vous pouvez également directement nous envoyer un mail à <a href="mailto:contact@lille-web.fr">contact@lille-web.fr</a>.
    </p>
    <form method="POST" action="/mail.php?source=contact" role="form" id="contact-form">
      <div class="form-group">
        <input type="text" placeholder="Nom" id="name" name="name" class="form-control">
      </div>
      <div class="form-group">
        <input type="mail" placeholder="Email" id="mail" name="mail" class="form-control">
      </div>
      <div class="form-group">
        <input type="text" placeholder="Objet" id="object" name="object" class="form-control">
      </div>
      <div class="form-group">
        <textarea rows="9" class="form-control" id="message" name="content" placeholder="Message"></textarea>
      </div>

      <button type="submit" class="btn btn-event btn-lg">Envoyer</button>
    </form>
  </div>
</div>


<script src="{{ "/js/contact.js" | prepend: site.baseurl }}"></script>
