<footer>
  <div class="container">
    <div class="col-md-10 col-md-offset-1 informations">
      <!-- <div class="row">
        <div class="container">
          <div class="col-md-6">
            Twitter
          </div>
          <div class="col-md-6">
            Youtube
          </div>
        </div>
      </div> -->
      <div class="row">
        <p> Lille Web - 2014 - Réalisé par Johnathan MEUNIER et Thomas DECONINCK</p>
        <p>
        	<a href="https://twitter.com/lille_web" target="_blank">Twitter</a>
        	-
        	<a href="https://github.com/Lille-Web/" target="_blank">Github</a>
          -
          <a href="https://plus.google.com/103053473274961978041" rel="publisher">Google+</a>
        </p>
      </div>
    </div>
  </div>
</footer>
