 <nav>
   <ul>
     <li class="index"> <a href="/"> <img src="/src/img/Logo/Solo/solo-sans-fond.png"> </a> </li>
     <li> <a href="/articles"><img src="/src/img/pictos/articles.png"> </a> </li>
     <li> <a href="/ressources"><img src="/src/img/pictos/ressources.png"> </a> </li>
     <li> <img src="/src/img/pictos/team.png"> </a> </li>
     <li> <a href="/contact"><img src="/src/img/pictos/contact.png"> </a> </li>
   </ul>
   <!--<a href="#login" > <img src="/src/img/pictos/logout.png"> </a>-->
 </nav>
