<head>
    <meta charset="utf-8">
    <!--[if IE]>
      <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <![endif]-->
    <title>
        {% if page.title %}
            {{ page.title }} -
        {% endif %}
        Lille Web</title>
    <meta name="viewport" content="width=device-width">
    <meta name="description" content="{{ page.description }}">
    {% if page.icon %}
        <link rel="icon" type="image/png" href="{{ page.icon | prepend: site.baseurl }}">
    {% else %}
        <link rel="icon" type="image/png"  href="{{ "/src/img/logo.png" | prepend: site.baseurl }}">
    {% endif %}
    <link href='http://fonts.googleapis.com/css?family=Roboto:400,300,500,700,900' rel='stylesheet' type='text/css'>
    <link rel="canonical" href="{{ page.url | replace:'index.html','' | prepend: site.baseurl | prepend: site.url }}">

    <!-- Custom CSS -->
    <link rel="stylesheet" href="{{ "/css/style.css" | prepend: site.baseurl }}">
    <script src="/js/angular.min.js"></script>
    {% include analytics.html %}
</head>
