<header class="hd-index">
  <div class="container">
    <nav class="navbar navbar-default" role="navigation">
      <div class="container-fluid">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header">
          <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="/"><img src="/src/img/Logo/Large/large-sans-fond-white.png"></a>
        </div>
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
          <ul class="nav navbar-nav navbar-right">
            <li><a href="/articles">Articles</a></li>
            <li><a href="http://meetup.com">Events</a></li>
            <li><a href="/ressources">Ressources</a></li>
            <li><a href="/lille">Lille</a></li>
            <li><a href="/team">Team</a></li>
            <li><a href="/contact">Contact</a></li>
          </ul>
        </div>
      </div>
    </nav>
    <div class="row header-content">
      <div class="col-md-6 col-md-offset-2">
        <h2> {% if page.header_title %}
                {{ page.header_title }}
              {% else %}
                La référence du web Lillois
              {% endif %}
        </h2>
        <h3> {% if page.header_titleSub %}
                {{ page.header_titleSub }}
              {% else %}
                Texte sur 2 lignes pour présenter la page !
              {% endif %} </h3>
        <div class="col-md-2 col-md-offset-2">
          <button class="btn">
            Articles
          </button>
        </div>
        <div class="col-md-2 col-md-offset-3">
          <button class="btn">
            Events
          </button>
        </div>
      </div>
    </div>
  </div>
</header>
