.btn-event{
  background-color: #B64747;
  color : #FFF;
}

#contents{
  background-color : rgba(245, 245, 245, 1);
  width: 100%;
  position: absolute;
  min-height: 100%;
  padding-top : 40px;

  .page-header {
    margin-top: 0px;
  }

  .categorie{
    color: #FFF;
    text-align: center;
    border-radius: 4px;
    font-weight: 900;
    padding: 4px 5px;
    vertical-align: middle;
    margin-bottom: 14px;
    margin-right: 10px;
    float: left;
    &.Ruby {
      background: #e74c3c;
    }
    &.JS {
      background-color: #F1BF26;
    }
  }
  #listContent{
    padding-left:  10px;

    article{
      background-color :#FFF;
      padding : 35px;
      margin-bottom : 50px;
      font-size: 16px;
      line-height: 25px;

      .pull-left {
        padding: 20px;
        padding-bottom: 0;
      }
      img{
        max-width : 80%;
        margin : 30px 0px;
        filter: grayscale(100%);
        // -webkit-filter: grayscale(100%);
        // -moz-filter: grayscale(100%);
        // -ms-filter: grayscale(100%);
        // -o-filter: grayscale(100%);
        // opacity : 0.7;

        -webkit-transition: all 0.5s ease;
        -moz-transition: all 0.5s ease;
        -ms-transition: all 0.5s ease;
        -o-transition: all 0.5s ease;
        transition: all 0.5s ease;

        &:hover{
          // filter: grayscale(0%);
          // -webkit-filter: grayscale(0%);
          // -moz-filter: grayscale(0%);
          // -ms-filter: grayscale(0%);
          // -o-filter: grayscale(0%);
          // opacity : 1;


          -webkit-transition: all 0.5s ease;
          -moz-transition: all 0.5s ease;
          -ms-transition: all 0.5s ease;
          -o-transition: all 0.5s ease;
          transition: all 0.5s ease;

          &:hover{
            filter: grayscale(0%);
            -webkit-filter: grayscale(0%);
            -moz-filter: grayscale(0%);
            -ms-filter: grayscale(0%);
            -o-filter: grayscale(0%);
            opacity : 1;

            -webkit-transition: all 0.5s ease;
            -moz-transition: all 0.5s ease;
            -ms-transition: all 0.5s ease;
            -o-transition: all 0.5s ease;
            transition: all 0.5s ease;
          }
        }
        .title, .categorie{display:inline-block;}
        .title{
          margin-bottom : 0px;
          a{
            color : $grey;
            &:hover{
              color : $red;
              font-style:normal;
            }
          }
        }
        .info{
          .author{
            font-weight : bolder;
          }
          .date{
            font-style : italic;
          }
        }
        .desc{
          margin : 30px 0px;
        }
        .tag{
          border : 1px solid #A6A6A6;
          color : #A6A6A6;
          border-radius : 4px;
          padding : 4px 12px;
          margin-right : 10px;
          &:hover{
            text-decoration : none;
            background-color : $red;
            color :#FFF;
            border-color : transparent;
          }
        }
      }
    }
    #searchResults{
      display : none;
    }
  }
  #option{
    padding-left : 20px;
    .search{
      border : none;
    }
    .categorie{
      line-height : 30px;
    }
    .tag{
      &:after{
        content : '-';
      }
      &:last-child{
        &:after{
          content : '';
        }
      }
    }
    #authors{
      ul{
        list-style : none;
        padding : 0px;
        li{
          margin-bottom : 10px;
          a{
            color : $grey;
            &:hover{
              color : $red;
              font-style:normal;
            }
            img{
              display : inline-block;
              width : 30px;
              margin-right : 10px;
            }
          }
        }
      }
    }
  }
}

body.zen{
  header{
    display : none;
  }
  #contents{
    background-color : transparent;
    #listContent{
      input.btn-event{
        background : transparent;
        color: $grey;
      }
    }
    #option{
      opacity : 0.1;
      &:hover{
        opacity : 1;
      }
    }
  }
}

#articles {
  h2.title {
    display: inline-block;
    position: relative;
    top: -1px;
    margin-top: 0px;
    width: 90%;
  }
  .info {
    margin-bottom: 10px;
    clear: both;
    font-style: italic;
  }

  article.post {
    .page-header small { font-size: 16px;}
    h3 {
      border-bottom: 1px solid #ddd;
      padding-bottom: 5px;
    }
    h3, h4, h5 {
      margin-top: 30px;
      font-weight: bold;
    }
  }
}