#team-list {
	background-color : rgba(245, 245, 245, 1);
	width: 100%;
	height: 100%;
	font-family: Roboto;

	.members {
		background: white;
		margin-top: 30px;
		margin-bottom: 20px;

		.member {
			margin-top: 35px;
			padding-bottom: 15px;
			p {
				margin-top: 20px;
			}
		}
		.border {
			border-bottom: 1px solid #ccc;
		}
	}
}