.zen {
  background-color: #384047;
  header {
    display : none;
  }

  #contents {
    background-color: transparent;

    #listContent {
      input.btn-event {
        background: transparent;
        color: $grey;
      }
    }
    #option {
      opacity: 0.1;

      &:hover {
        opacity: 1;
      }
    }
  }
}
