---
layout: default
---

<script src="{{ "/js/navigationMenu.js" | prepend: site.baseurl }}"></script>

{% assign author = site.data.members[page.author] %}

<script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0];if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src="https://platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");</script>

<div id="contents" class="zen">
    <div id="listContent" class="col-md-7 col-md-offset-1 col-xs-10 col-xs-offset-2">
      <div id="articles">
        <input type="button" class="btn btn-event" id="backToArticles" value="&larr; Articles" style="margin-top : -50px;" />
        <article class="post">
          <div class="page-header">
              <h1 class="title">
                  {{ page.title }}
                  <small>
                      <span class="date"> ajouté le {{ page.date | date: "%d/%m/%Y" }} </span>
                  </small>
              </h1>
          </div>

          {{ content }}
        </article>
        {% include disqus.html %}
    </div>
    <div id="option" class="col-md-2 col-xs-10 col-sm-offset-0 col-xs-offset-2">
      <button id="toggleZen" class="btn btn-event hidden-xs"> Lecture Zen </button>
      {% if author %}
      <div id="authors">
        <h3> Auteur </h3>
        <ul>
          <li>
            <a href="/team">
              <img src="{{ author.image }}" class="img-circle">{{author.name}}
            </a>
          </li>
        </ul>
      </div>
      {% endif %}
      <div id="share">
        <h3> Partager </h3>
          <a href="https://twitter.com/share"
              data-url="{{ post.url | prepend: site.baseurl }}"
              class="twitter-share-button"
              data-text="{{page.title}} by {{author.name}}"
              data-via="Lille_web"
              data-related="JohnathanSUP: The author"
              data-count="horizontal"
              data-size="large"
              data-lang="en">Tweet</a>
      </div>
      <div id="relatedArticles">
        <h3> Articles relatifs </h3>
        <ul>
          {% assign cat = page.category | downcase %}

          {% for post in site.categories.[cat] limit:3 %}
            <li>
              <a href="{{ post.url | prepend: site.baseurl }}"> {{ post.title }} </a>
            </li>
          {% endfor %}
        </ul>
      </div>
      {% assign navigationMenu = page.navigationMenu | downcase %}
      {% if navigationMenu == 'true' %}
        <div id="navigationMenu">
          <h3> Sommaire </h3>
          <div class="navigationMenuEntries"><script>createNavigationMenu();</script></div>
        </div>
      {% endif %}
    </div>
</div>

<script src="{{ "/js/zen.js" | prepend: site.baseurl }}"></script>
