---
layout: default
---

{% assign author = site.data.members[page.author] %}

<script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0];if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src="https://platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");</script>

<div id="contents" class="zen">
    <div id="listContent" class="col-md-7 col-md-offset-1 col-xs-10 col-xs-offset-2">
      <div id="articles">
        <input type="button" class="btn btn-event" value="&larr; Articles" onclick="window.history.back()"style="margin-top : -50px;" />
        <article class="post">
          <div class="page-header">
              <h2 class="title">
                  {{ page.title }}
                  <small>
                      <span class="date"> ajouté le {{ page.date | date: "%d/%m/%Y" }} </span>
                  </small>
              </h2>
          </div>

          {{ content }}
        </article>
        {% include disqus.html %}
    </div>
    <div id="option" class="col-md-2">
      <button id="toggleZen" class="btn btn-event hidden-xs"> Lecture Zen </button>
      {% if author %}
      <div id="authors">
        <h3> Auteur </h3>
        <ul>
          <li>
            <a href="/team">
              <img src="{{ author.image }}" class="img-circle">{{author.name}}
            </a>
          </li>
        </ul>
      </div>
      {% endif %}
      <div id="share">
        <h3> Partager </h3>
          <a href="https://twitter.com/share"
              data-url="{{ post.url | prepend: site.baseurl }}"
              class="twitter-share-button"
              data-text="{{page.title}} by {{author.name}}"
              data-via="Lille_web"
              data-related="JohnathanSUP: The author"
              data-count="horizontal"
              data-size="large"
              data-lang="en">Tweet</a>
      </div>
    </div>
</div>
