---
layout: default
---

<div id="contents">
  <div id="listContent" class="col-md-8 col-md-offset-1 col-xs-offset-1">
    <div id="ressources">
      <h1> Ressources </h1>
      {% for ressourceType in site.data.ressources %}
        <article id="{{ressourceType[1].name}}">

          <h2>{{ressourceType[1].name}}</h2>
          <ul>
            {% for ressource in ressourceType.[1].content %}
              <li><a href="{{ressource[1].link}}">{{ressource[1].name}}</a></li>
            {% endfor %}
          </ul>

        </article>
      {% endfor %}
    </div>
  </div>
  <div id="option" class="col-md-2 hidden-xs">
    <h3> Types de ressources </h3>
    <ul>
      {% for ressourceType in site.data.ressources %}
        <li> <a href="#{{ressourceType[1].name}}">{{ressourceType[1].name }}</a> </li>
      {% endfor %}
    </ul>
  </div>
</div>
