---
header_title : Proposer un article
header_titleSub : Participer activement à la communauté Lille Web
---
<!DOCTYPE html>
<html>
{% include head.html %}

{% include headerPage3.html %}

<div id="content">
  <div class="container">
    <div class="row">
      <div class="col-md-10 col-md-offset-1">
        <p> Il existe deux moyens pour proposer un article à la communauté Lille Web. Vous pouvez soit partager un article d'un autre site afin que nous le proposions dans la liste des articles, soit écrire entièrement un article qui pourra être posté sur le site.</p>
        <h4> Dans les deux cas, votre contribution sera mise en valeur ! </h4>
        <p> En écrivant des articles pour le site, vous ferez partie de la communauté Lille Web. Vous vous retrouverez sur <a href="/team"> la page de l'équipe </a>. </p>
      </div>
    </div>
    <div class="row">
      <div class="col-md-10 col-md-offset-1">
        <h3> Partager un article </h3>
        <p> Vous avez juste à nous proposer ici le lien d'un article en français que vous jugez pertinent. Cet article peut également venir de votre blog si vous souhaitez que nous le relayons !
        <form method="POST" action="/mail.php?source=articleShareExtern" role="form">
          <div class="col-md-3">
            <input type="name" placeholder="Votre nom" id="name" name="name" class="form-control">
          </div>
          <div class="col-md-6">
            <input type="link" placeholder="Lien de l'article" id="content" name="content" class="form-control">
          </div>
          <div class="col-md-3">
            <button type="submit" class="btn btn-success">Submit</button>
          </div>
        </form>
      </div>
    </div>

    <div class="row">
      <div class="col-md-10 col-md-offset-1">
        <h3> Ecrire un article pour Lille Web </h3>
        <p> Lille Web peut également héberger un article si vous n'avez pas de blog où l'écrire. </p>
        <p> Vous pouvez l'envoyer par mail à <a href="mailto:contact@lilleweb.fr">contact@lilleweb.fr</a>. Dans un premier temps nous jugerons si l'article est pertinent, si tel est le cas nous le corrigerons si nécessaire puis nous le publierons </p>
        <p> Dans l'idéal, l'article doit être écrit en markdown, ne doit pas comporter de fautes, et correspondre à la ligne directrice du site.</p>
      </div>
    </div>
  </div>
</div>

{% include footerPage.html %}
</body>
</html>